body {
  text-align: center;
  background-color: lightyellow;
  text-shadow: 2px 2px white;
}

button {
  font-size: 12pt;
}

input {
  margin-top: 15px;
  margin-bottom: 30px;
}

#gameBoard {
  display: none;
}

#gameEnd {
  display: none;
}

#workaround {
  display: none;
}

#namesForm {
  background-color: #d9edf7;
  color: #31708f;
  border: solid 1px #bce8f1;
  text-shadow: 2px 2px white;
}

#namesForm button {
  color: black;
}

#namesForm input {
  color: black;
}

.error {
  display: none;
  color: red;
}

.info-text {
  margin: 5px;
  font-size: 14pt;
  font-weight: bold;
}

.jumbotron {
  background-color: #d9edf7;
  color: #31708f;
  border: solid 1px #bce8f1;
  text-shadow: 2px 2px white;
}
